.checkboxFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;

  .filterType {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    cursor: pointer;


    .filterTypeName {
      font-size: 17px;
      font-weight: 500;

    }

    .filterTypeNameBold {
      font-size: 17px;
      font-weight: 600;


    }

    .filterToggle {

      font-size: 30px;
      position: relative;
      cursor: pointer;

      .filterToggleHorizontal {
        transform: rotate(90deg);
        animation: rotateToMinus 1s forwards;
      }

      .filterToggleVertical {
        animation: rotateToPlus 1s forwards;
        transform-origin: center;
      }

      .filterToggleStatic {
        position: absolute;
        transform: rotate(90deg);

      }
    }
  }

  .filterDetailsBox {
    padding: 8px 0;
    font-size: 15px;
    cursor: pointer;

    .filterDetailsLabel {
      cursor: pointer;
    }

    input[type=checkbox]:checked {
      accent-color: #545454;
    }
  }

  .filterViewMore {
    margin: 10px 0;
    color: #494949;
    font-size: 15px;
    cursor: pointer;

    .filterViewMoreIcon {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #494949;
      gap: 2px;

      .filterViewMoreWords {

      }

      .icon {
        color: #494949;

      }
    }
  }
}

.filterMore {
  align-items: center;
  color: #53565a;
  display: flex;
  padding: .6875rem 0 .5rem;
  width: 100%;
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn ease-in 0.5s;
}

.fadeOut {
  animation: fadeOut ease-out 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotateToMinus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateToPlus {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}