$padding-size:16px;

.sizeButtonFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: $padding-size;

  .sizeFilterType {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    cursor: pointer;

    .sizeFilterTypeName {
      font-size: 17px;
      font-weight: 500;
    }

    .sizeFilterTypeNameBold {
      font-size: 17px;
      font-weight: 800;
    }

    .sizeFilterToggle {
      font-size: 40px;
    }
  }

  .sizeAllButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    button {
      height: 40px;
      font-weight: 800;
      cursor: pointer;
      border-radius: 5px;
      margin: 5px 5px;
      text-wrap: normal;
    }

    .sizeNumbers {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px gray dashed;
      padding-bottom: $padding-size;


      .sizeNumbersButtonChecked {
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        width: auto;
        flex: 1 0 18%; /* Ensures that each button takes up 20% of the row */
        max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
        margin: 5px;
        height: 40px;
        font-weight: 800;
        cursor: pointer;
        border-radius: 5px;
        text-wrap: normal;
        box-sizing: border-box; /* Ensures padding and border are included in the width and height */
      }

      .sizeNumbersButton {
        background-color: #fff;
        border: 0.02px solid #c7c4c4;
        padding: 10px;
        width: auto;
        flex: 1 0 18%; /* Ensures that each button takes up 20% of the row */
        max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
        margin: 5px;
        height: 40px;
        font-weight: 800;
        cursor: pointer;
        border-radius: 5px;
        text-wrap: normal;
        box-sizing: border-box; /* Ensures padding and border are included in the width and height */
        &:hover {
          border: 1.5px solid black;
          padding: 10px;
          width: auto;
        }
      }

      button {
        //width: 40px;

      }

      margin-bottom: 5px;

    }

    .sizeLetters {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px gray dashed;
      padding-bottom: $padding-size;
      margin-bottom: 5px;

      .sizeLettersButtonChecked {
        background-color: black;
        color: white;
        border: none;
        flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
        max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
        margin: 5px;
        height: 40px;
        font-weight: 800;
        cursor: pointer;
        border-radius: 5px;
        text-wrap: normal;
        box-sizing: border-box; /* Ensures padding and border are included in the width and height */
      }

      .sizeLettersButton {
        background-color: #fff;
        border: 0.02px solid #c7c4c4;

        width: auto;
        flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
        margin: 5px;
        height: 40px;
        font-weight: 800;
        cursor: pointer;
        border-radius: 5px;
        text-wrap: normal;
        box-sizing: border-box; /* Ensures padding and border are included in the width and height */

        &:hover {
          border: 1.5px solid black;
        }
      }
    }

    .sizeOneSize {

      .sizeLettersButtonChecked {
        background-color: black;
        color: white;
        border: none;
      }

      .sizeLettersButton {
        background-color: #fff;
        border: 0.02px solid #c7c4c4;

        &:hover {
          border: 1.5px solid black;
        }
      }
    }
  }
}



