.sizeButtonFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 16px;
}
.sizeButtonFilter .sizeFilterType {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
}
.sizeButtonFilter .sizeFilterType .sizeFilterTypeName {
  font-size: 17px;
  font-weight: 500;
}
.sizeButtonFilter .sizeFilterType .sizeFilterTypeNameBold {
  font-size: 17px;
  font-weight: 800;
}
.sizeButtonFilter .sizeFilterType .sizeFilterToggle {
  font-size: 40px;
}
.sizeButtonFilter .sizeAllButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sizeButtonFilter .sizeAllButtons button {
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px 5px;
  text-wrap: normal;
}
.sizeButtonFilter .sizeAllButtons .sizeNumbers {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px gray dashed;
  padding-bottom: 16px;
  margin-bottom: 5px;
}
.sizeButtonFilter .sizeAllButtons .sizeNumbers .sizeNumbersButtonChecked {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  width: auto;
  flex: 1 0 18%; /* Ensures that each button takes up 20% of the row */
  max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
  margin: 5px;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
.sizeButtonFilter .sizeAllButtons .sizeNumbers .sizeNumbersButton {
  background-color: #fff;
  border: 0.02px solid #c7c4c4;
  padding: 10px;
  width: auto;
  flex: 1 0 18%; /* Ensures that each button takes up 20% of the row */
  max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
  margin: 5px;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
.sizeButtonFilter .sizeAllButtons .sizeNumbers .sizeNumbersButton:hover {
  border: 1.5px solid black;
  padding: 10px;
  width: auto;
}
.sizeButtonFilter .sizeAllButtons .sizeLetters {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px gray dashed;
  padding-bottom: 16px;
  margin-bottom: 5px;
}
.sizeButtonFilter .sizeAllButtons .sizeLetters .sizeLettersButtonChecked {
  background-color: black;
  color: white;
  border: none;
  flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
  max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
  margin: 5px;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
.sizeButtonFilter .sizeAllButtons .sizeLetters .sizeLettersButton {
  background-color: #fff;
  border: 0.02px solid #c7c4c4;
  width: auto;
  flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
  margin: 5px;
  height: 40px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
.sizeButtonFilter .sizeAllButtons .sizeLetters .sizeLettersButton:hover {
  border: 1.5px solid black;
}
.sizeButtonFilter .sizeAllButtons .sizeOneSize .sizeLettersButtonChecked {
  background-color: black;
  color: white;
  border: none;
}
.sizeButtonFilter .sizeAllButtons .sizeOneSize .sizeLettersButton {
  background-color: #fff;
  border: 0.02px solid #c7c4c4;
}
.sizeButtonFilter .sizeAllButtons .sizeOneSize .sizeLettersButton:hover {
  border: 1.5px solid black;
}

/*# sourceMappingURL=SizeButtonFilter.css.map */
