.navBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 0px;
}

/*.navItem {*/
/*    margin-right: 20px;*/
/*    cursor: pointer;*/
/*}*/
.navItem {
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid transparent;

    color: #000;

    &.active {
        border-bottom: 2px solid red;
        color: black;
        font-weight: bold;
        transition: ease-in-out;
    }

    &:hover {

        border-bottom: 2px solid red;
        transition: 0.6s ease-in-out;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropbtn {
    background-color: #fafafa;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
}

.dropdownContent div {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdownContent div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}