.addToBagContainer {
  background: #fff;
  border: .0625rem solid #e6e6e6;
  border-radius: .25rem;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  .ship {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-bottom: .0625rem solid #e6e6e6;
    padding-bottom: 15px;

    .shipLabel {
      text-align: left;
      display: flex;
      flex-direction: row;
      gap: 3px;
      margin-bottom: 0;

      input[type='radio'] {
        accent-color: #d93535;
      }

      .ship1 {
        margin-left: 10px;

        h3 {
          font-weight: 200;
        }
      }
    }

    span {
      margin-left: 25px;
      margin-top: -10px;
      color: #53565a;
      line-height: 1.25rem;
      font-size: 0.9rem;
      text-align: left;
    }
  }

  .pickupContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .expand {
      text-align: end;
      padding-left: 250px;
      font-weight: 800;
      font-size: larger;

      .addIcon {
        transition: 0.5s ease-in-out;
        transform: rotate(90deg);
        text-align: right;
      }

      .removeIcon {
        text-align: right;
      }
    }

    .iconContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .pickupIcon {
        margin-left: 8px;
      }

      h3 {
        font-weight: 500;
      }
    }
  }

  .buttonContainer {
    margin-bottom: 5px;

    .button1 {
      width: 95%;
      height: 50px;
      background-color: #c8102e;
      color: white;
      border-radius: .25rem;
      border-color: #c8102e;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .otherStoreContainer {
    .button2 {
      width: 95%;
      height: 50px;
      background-color: #fff;
      color: black;
      border-radius: .25rem;
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;
      border: none;
    }
  }

  .pickUpInfoContainer {
    .pickUpInfo {
      margin: 10px;
    }

    input {
      margin-top: 10px;
      text-align: left;
      background-color: red;
    }
  }
}
