.productPageWrapperHidden {
  display: none;
}

.productPageWrapperActive .productPageContainer {
  width: 80%;
  margin: 0 auto;
}
.productPageWrapperActive .productPageContainer .productInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productImagesContainer {
  width: 50%;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productImagesContainer .images {
  width: 400px;
  height: 400px;
  cursor: zoom-in;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .productName {
  font-size: 2.05rem;
  font-weight: 700;
  font-style: normal;
  word-break: break-word;
  white-space: normal;
  text-align: left;
  width: 50%;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .productPrice {
  font-weight: 300;
  text-align: left;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .colorWord {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 30px;
  font-weight: 600;
  font-size: 15px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .colorWord .colorName {
  margin-left: 5px;
  font-weight: 300;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .colorWord .wordStyle {
  margin-left: 5px;
  font-weight: 300;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .swatchesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .swatchesContainer .swatch {
  outline: 1px solid #e0e0e0;
  border: 2px solid white;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .swatchesContainer .selected {
  outline: 2px black solid;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .swatchesContainer .swatchButton:hover .swatch {
  /*border: 3px solid white;*/
  outline: 3px solid grey;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .soldoutWord {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .selectSizeWord {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .selectSizeWord .wordStyle {
  margin-left: 5px;
  font-weight: 300;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .sizeButtonsContainer {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .sizeButtonsContainer .sizeLettersButton {
  background-color: #fff;
  border: 0.02px solid #c7c4c4;
  flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
  margin: 5px;
  height: 2.25rem;
  width: auto;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .sizeButtonsContainer .sizeLettersButton:hover {
  border: 1px solid black;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .productInfo .sizeContainer .sizeButtonsContainer .sizeLettersButtonChecked {
  background-color: black;
  color: white;
  border: none;
  flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
  margin: 5px;
  height: 2.25rem;
  width: auto;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: normal;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer {
  background: #fff;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0.25rem;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
  width: 60%;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #e6e6e6;
  padding-bottom: 15px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship .shipLabel {
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-bottom: 0;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship .shipLabel input[type=radio] {
  accent-color: #d93535;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship .shipLabel .ship1 {
  margin-left: 10px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship .shipLabel .ship1 h3 {
  font-weight: 200;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .ship span {
  margin-left: 25px;
  margin-top: -10px;
  color: #53565a;
  line-height: 1.25rem;
  font-size: 0.9rem;
  text-align: left;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .pickupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .pickupContainer .pickupIcon {
  margin-left: 8px;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .pickupContainer h3 {
  font-weight: 500;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .buttonContainer button {
  width: 95%;
  height: 50px;
  background-color: #c8102e;
  color: white;
  border-radius: 0.25rem;
  border-color: #c8102e;
  font-weight: 700;
  cursor: pointer;
}
.productPageWrapperActive .productPageContainer .productInfoContainer .addToBagContainer .otherStoreContainer button {
  width: 95%;
  height: 50px;
  background-color: #fff;
  color: black;
  border-radius: 0.25rem;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

/*# sourceMappingURL=ProductPage.css.map */
