.productPageWrapperHidden {
  display: none;
}

.productPageWrapperActive {

  .productPageContainer {
    width: 80%;
    margin: 0 auto;

    .productInfoContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .productImagesContainer {
        width: 50%;

        .images {
          width: 400px;
          height: 400px;
          cursor: zoom-in;
        }
      }

      .productInfo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;

        .productName {
          font-size: 2.05rem;
          font-weight: 700;
          font-style: normal;
          word-break: break-word;
          white-space: normal;
          text-align: left;
          width: 50%;
        }

        .productPrice {
          font-weight: 300;
          text-align: left;
        }

        .colorWord {
          display: flex;
          flex-direction: row;
          text-align: left;
          margin-top: 30px;
          font-weight: 600;
          font-size: 15px;

          .colorName {
            margin-left: 5px;
            font-weight: 300;
          }

          .wordStyle {
            margin-left: 5px;
            font-weight: 300;
          }

        }

        .swatchesContainer {
          display: flex;
          flex-direction: row;

          justify-content: center;


          .swatch {
            outline: 1px solid #e0e0e0;
            border: 2px solid white;
          }

          .selected {
            outline: 2px black solid;


          }

          .swatchButton:hover .swatch {
            /*border: 3px solid white;*/
            outline: 3px solid grey;

          }
        }

        .sizeContainer {
          .soldoutWord {
            text-align: left;
            margin-top: 5px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            gap: 4px;
          }

          .selectSizeWord {
            text-align: left;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            gap: 4px;

            .wordStyle {
              margin-left: 5px;
              font-weight: 300;
            }
          }

          .sizeButtonsContainer {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 40%;


            .sizeLettersButton {
              background-color: #fff;
              border: 0.02px solid #c7c4c4;
              flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
              margin: 5px;
              height: 2.25rem;
              width: auto;
              font-weight: 800;
              cursor: pointer;
              border-radius: 5px;
              text-wrap: normal;
              box-sizing: border-box;

              &:hover {
                border: 1px solid black;
              }
            }


            .sizeLettersButtonChecked {
              background-color: black;
              color: white;
              border: none;
              flex: 0 0 18%; /* Ensures that each button takes up 20% of the row */
              //max-width: 18%; /* Ensures that each button does not exceed 20% of the row width */
              margin: 5px;
              height: 2.25rem;
              width: auto;
              font-weight: 800;
              cursor: pointer;
              border-radius: 5px;
              text-wrap: normal;
              box-sizing: border-box; /* Ensures padding and border are included in the width and height */
            }
          }
        }
      }

      .addToBagContainer {
        background: #fff;
        border: .0625rem solid #e6e6e6;
        border-radius: .25rem;
        color: #000;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        overflow: hidden;
        padding: 0;
        width: 60%;

        .ship {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background-color: #ffffff;
          border-bottom: .0625rem solid #e6e6e6;
          padding-bottom: 15px;


          .shipLabel {
            text-align: left;
            display: flex;
            flex-direction: row;
            gap: 3px;
            margin-bottom: 0;

            input[type='radio'] {
              accent-color: #d93535;
            }

            .ship1 {
              margin-left: 10px;

              h3 {
                font-weight: 200;
              }
            }
          }

          span {
            margin-left: 25px;
            margin-top: -10px;
            color: #53565a;
            line-height: 1.25rem;
            font-size: 0.9rem;
            text-align: left;
          }
        }

        .pickupContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;

          .pickupIcon {
            margin-left: 8px;
          }

          h3 {
            font-weight: 500;
          }
        }

        .buttonContainer {
          button {
            width: 95%;
            height: 50px;
            background-color: #c8102e;
            color: white;
            border-radius: .25rem;
            border-color: #c8102e;
            font-weight: 700;
            cursor: pointer;

          }
        }

        .otherStoreContainer {
          button {
            width: 95%;
            height: 50px;
            background-color: #fff;
            color: black  ;
            border-radius: .25rem;
            text-decoration: underline;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
}