html,
body {
    margin: 0;
    padding: 0;
    font-family: Calibre, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

}

.topHeaderNavigation {
    height: 34px;
    background-color: #fafafa;
}

.headerNavigation {
    height: 76px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 14px;
    img {
        height: 34px;
    }
    a {
        text-decoration: none;
        color: black;

    }
    .headerLeft {
        display: flex;
        justify-content: flex-start;
        gap: 40px;
        align-items: center;
        font-weight: bold;
    }
    .headerRight {
        display: flex;
        align-items: center;
        .input {
            border: black solid 2px;
            height: 47px;
            border-radius: 4px;
            input {
                border: none;
                display: flex;
                align-items: center;
            }
        }
    }
}
